{% extends "base.html" %}

{% block content %}
<header>
    <div>
        <h1>Dulche</h1>
        <img src="https://images.vexels.com/media/users/3/282412/isolated/preview/bafcaa0c92ef7a1e4eaefbe312337abf-lindo-gato-panqueque.png" alt="Dulche" width="300">
        <p>Bienvenido a Dulche, tu destino para recetas de repostería sencillas.</p>
    </div>



    <div class="card">
        <h3>¿Qué es Dulche?</h3>
            <p>Dulche es una página web dedicada a compartir recetas básicas de repostería desde las más 
            elboradas hasta las más sencillas, con el objetivo de inspirar a las personas a disfrutar de la cocina y crear deliciosos postres en casa.
            </p>
    </div>


    <div class="card">
        <h3>¿Por qué elegir Dulche?</h3>
            <p>Dulche se destaca por su enfoque en recetas caseras y fáciles de preparar, lo que la convierte en una opción ideal para aquellos que buscan disfrutar
            de la repostería sin complicaciones. Además, la página ofrece una variedad de recetas para todos los gustos y niveles de habilidad, desde principiantes 
            hasta expertos.</p>
    </div>
{% endblock %}