{% extends "base.html" %}

{% block content %}
<header>
    <div>
        <h1>Dulche</h1>
        <img src="https://images.vexels.com/media/users/3/282412/isolated/preview/bafcaa0c92ef7a1e4eaefbe312337abf-lindo-gato-panqueque.png" alt="Dulche" width="300">
        <p>Apartado de tips y consejos</p>
    </div>
</header>

<main>
    <div class="card">
        <h2>Tips para mejorar tus recetas</h2>
        <p>1. Usa ingredientes de calidad: Los ingredientes frescos y de buena calidad hacen una gran diferencia en el sabor final de tus recetas.</p>
        <p>2. Sigue las instrucciones: Es importante seguir las instrucciones de la receta, especialmente cuando se trata de tiempos y temperaturas.</p>
        <p>3. Experimenta con sabores: No tengas miedo de probar combinaciones nuevas de ingredientes para crear tus propias versiones únicas.</p>
        <p>4. Prepara con anticipación: Muchas recetas pueden ser preparadas con anticipación, lo que te permite ahorrar tiempo y reducir el estrés en el día de la preparación.</p>
        <p>5. Disfruta el proceso: La cocina es una forma de arte
    </div>

</main>
{% endblock %}